<div class="wrp-site-footer">

  <div class="signoff">
    <footer class="elsewhere">
      <nav>
        <ul>
          <li><a href="https://dribbble.com/nevermike" class="popit"><img src="{{ site.baseurl }}/assets/images/dribbble.svg" alt=""></a></li>
          <li><a href="https://twitter.com/nevermike" class="popit"><img src="{{ site.baseurl }}/assets/images/twitter.svg" alt=""></a></li>
          <li><a href="https://www.linkedin.com/in/michaelestok/" class="popit"><img src="{{ site.baseurl }}/assets/images/linkedin.svg" alt=""></a></li>
          <!-- <li><a href="https://medium.com/@nevermike"><img src="{{ site.baseurl }}/assets/images/medium.svg" alt=""></a></li> -->
        </ul>
      </nav>
    </footer>

    <footer class="contact">
      <p>I’m a designer, educator, and strategist working world-wide from Philadelphia.</p>
      <p>For new service inquiries or to talk about your awesome idea, please <a href="mailto:michael@nevermike.com" class="footer-email">email me</a>.</p>
    </footer>
  </div>

  <footer class="site-footer">
    <p>&copy; <script>document.write(new Date().getFullYear())</script> Michael Estok. All rights reserved.</p>
  </footer>

</div>
