<div class="wrp-site-footer">

  <footer class="site-footer">

    <div class="elsewhere">
      <div class="elsewhere__dribbble">
        <a href="https://dribbble.com/nevermike"><img src="{{ site.baseurl }}/assets/images/icon-dribbble.svg" alt="Dribbble"></a>
      </div>
      <div class="elsewhere__twitter">
        <a href="https://twitter.com/nevermike"><img src="{{ site.baseurl }}/assets/images/icon-twitter.svg" alt="Twitter"></a>
      </div>
      <div class="elsewhere__linkedin">
        <a href="https://www.linkedin.com/in/michaelestok"><img src="{{ site.baseurl }}/assets/images/icon-linkedin.svg" alt="LinkedIn"></a>
      </div>
    </div>

    <p>&copy; <script>document.write(new Date().getFullYear())</script> Michael Estok. All rights reserved.</p>
  </footer>

</div>
