<div class="wrp-site-footer">

  <footer class="site-footer">

    <div class="footer-tag">
      <p class="tag-header">Hi, I'm Michael</p>
      <p class="tag-subheader">Ready to solve some problems? I’m happy to help.</p>
    </div>

    <div class="elsewhere">
      <div class="elsewhere__dribbble">
        <a href="https://dribbble.com/nevermike" class="popit"><img src="{{ site.baseurl }}/assets/images/icons/dribbble.svg" alt="Dribbble"></a>
      </div>
      <div class="elsewhere__linkedin">
        <a href="https://www.linkedin.com/in/michaelestok" class="popit"><img src="{{ site.baseurl }}/assets/images/icons/linkedin.svg" alt="LinkedIn"></a>
      </div>
      <div class="elsewhere__email">
        <a href="{{ site.baseurl }}/contact" class="popit"><img src="{{ site.baseurl }}/assets/images/icons/email.svg" alt="Contact"></a>
      </div>
    </div>

    <p class="legal">&copy; <script>document.write(new Date().getFullYear())</script> Michael Estok. All rights reserved.</p>
  </footer>

</div>
