<div class="wrp-header">
  <header class="site-header">
    <div class="logo">
      <a href="/" class="popit"><img src="{{ site.baseurl }}/assets/images/nevermike.png" alt="It's me!"></a>
    </div>

    <nav aria-label="Primary" class="site-nav">
      <ul>
        {% assign navigation_pages = site.html_pages | sort: 'navigation_weight' %}
          {% for p in navigation_pages %}
            {% if p.navigation_weight %}
              <li>
                <a href="{{ p.url }}" {% if p.url == page.url %}class="active"{% endif %}>
                  {{ p.title }}
                </a>
              </li>
            {% endif %}
          {% endfor %}
      </ul>
    </nav>
  </header>
</div>
