<div class="work">
  <!-- <div class="work__item"><a href="{{ site.baseurl }}/case-studies/financial"><img src="{{ site.baseurl }}/assets/images/samples/fi.jpg" alt="Financial System"></a></div> -->
  <div class="work__item"><a href="{{ site.baseurl }}/case-studies/dining"><img src="{{ site.baseurl }}/assets/images/samples/aramark.jpg" alt="Aramark"></a></div>
  <div class="work__item"><a href="{{ site.baseurl }}/case-studies/intronet"><img src="{{ site.baseurl }}/assets/images/samples/intro.jpg" alt="Intronet"></a></div>
  <div class="work__item"><a href="{{ site.baseurl }}/case-studies/corpu"><img src="{{ site.baseurl }}/assets/images/samples/flex.jpg" alt="Corp U"></a></div>
  <!-- <div class="work__item"><a href="{{ site.baseurl }}/case-studies/wellness"><img src="{{ site.baseurl }}/assets/images/samples/wellness.jpg" alt="Kid's Wellness"></a></div> -->
</div>
