<div class="work">

  <div class="work-item popit">
    <img src="{{ site.baseurl }}/assets/images/work/campusdish-cover.jpg" alt="Campus Dish" class="work-image">
    <div class="work-detail">
      <h3>Dining (Over)hall</h3>
      <h4>How do you design a resposive website serving over 400 locations?</h4>
    </div>
    <a href="{{ site.baseurl }}/case-studies/dining-overhall.html"></a>
  </div>

  <div class="work-item popit">
    <img src="{{ site.baseurl }}/assets/images/work/intro-cover.jpg" alt="Intronet" class="work-image">
    <div class="work-detail">
      <h3>Introducing Trust</h3>
      <h4>How do you connect with your trusted network and improve your career?</h4>      
    </div>
    <a href="{{ site.baseurl }}/case-studies/introducing-trust.html"></a>
  </div>

</div>
