---
layout: base
title: Experience
canonical: https://nevermike.com/experience/index.html
navigation_weight: 2
---

<div class="wrp-page-content experience">
  <div class="page-content">
    <h1 class="section-header">Experience</h1>

    <h2>I've designed solutions for people and companies (Fortune 500s to startups and not-for-profits)</h2>

    <h3>How do I do it?</h3>

    <p>I’ll use tools like live prototyping in HTML and CSS prototypes to design visual systems in Sketch or Adobe Creative Suite. I can create everything from wireframes to ready-to-publish web sites. I can do it while maintaining your business’s goals, and making your customers happy.</p>

    <h4>Recent Roles</h4>

    <div class="rolls">
      <a href="http://www.anexinet.com" class="rolls__anexinet">
        <h3>Anexinet</h3>
        <p>UX Design Consultant</p>
      </a>
      <a href="http://www.intro.net" class="rolls__intronet">
        <h3>Intronet</h3>
        <p>UX &amp; Product Design</p>
      </a>
      <a href="http://www.corpu.com" class="rolls__corpu">
        <h3>Corp U</h3>
        <p>UX Design</p>
      </a>
    </div>

    <h4>Clients Include</h4>

    <div class="clients">
      <div>
        <img src="{{ site.baseurl }}/assets/images/experience/leagueside.png" alt="LeagueSide">
      </div>
      <div>
        <img src="{{ site.baseurl }}/assets/images/experience/onetwosee.png" alt="OneTwoSee">
      </div>
      <div>
        <img src="{{ site.baseurl }}/assets/images/experience/realtime.png" alt="Realtime Media">
      </div>
      <div>
        <img src="{{ site.baseurl }}/assets/images/experience/pet360.png" alt="Pet 360">
      </div>
      <div>
        <img src="{{ site.baseurl }}/assets/images/experience/bainbridge.png" alt="Bainbrige">
      </div>
      <div>
        <img src="{{ site.baseurl }}/assets/images/experience/did.png" alt="DiD">
      </div>
      <div>
        <img src="{{ site.baseurl }}/assets/images/experience/wk.png" alt="Wolters Kluwer">
      </div>
    </div>

    <h3>For more details check out my <a href="https://www.linkedin.com/in/michaelestok">LinkedIn profile</a>. If you like what you see, say, <a href="mailto:michael@nevermike.com?subject=Hello%20From%20The%20Internet">"hi"</a>.</h3>

  </div>
</div>

<div class="wrp-page-content">
  <div class="page-content me-story">
    <h2>About me</h2>
    <p class="me-intro">Born and raised in central NJ, I was privileged to roll through the salad days of the East Coast punk and skate culture during late 80s & early 90s. After high school, I was pulled north by the lure of the city so nice they named it twice. Emboldened by the lyrics of the Beasties bumping in my head, I enrolled at the School of Visual Arts and threw myself into the world of fine art (though I wasn’t entirely sure what that meant). My biggest influences were David Carson’s work at Raygun Magazine, Jasper Johns, and Hieronymus Bosch and the cut-and-pastes zines we made and consumed.</p>

    <p class="me-artschool">After graduation, I found a job a at small interior design firm that  produced hand-painted wall paper made from heavy metals and highly toxic paint. Luckily for my central nervous system, the city was incubating something new. The internet was gearing up to help me change my career path. Opportunity, health insurance, and a childhood love of computers floated to the surface right alongside the dot com bubble.</p>

    <p>I toiled for the next few years in the slums and tenements of what would later be dubbed Silicon Alley, where I learned the nuts and bolts of the nascent art of web design. As our bubble burst, I moved south to the city of brotherly love, where I now consult on design solutions and work with startups, agencies, and companies of all sizes.</p>
  </div>
</div>

{% if site.categories.experience == null %}
  {% else %}
  <div class="wrp-page-content">
    <div class="page-content">
      <h4>Things That I've Worked On</h4>
      <div class="leadin">
        {% for post in site.categories.experience %}
          <div class="leadin__item">
            <div class="leadin__image">
              <a href="{{ post.url }}"><img src="{{ site.baseurl }}/assets/images/ideas/{{ post.image }}"></a>
            </div>
            <div class="leadin__copy">
              <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
              {{ post.excerpt }}
              <p><a href="{{ post.url }}" class="button">Read</a></p>
            </div>
          </div>
        {% endfor %}
      </div>

      <h3 class="text-center">Looking for something else? <a href="{{ site.baseurl }}/ideas">See all Posts</a></h3>
    </div>
  </div>
{% endif %}
