---
layout: base
title: Ideas
canonical: https://nevermike.com/ideas/index.html
navigation_weight: 3
---

<header class="page-title">
  <h1>Ideas</h1>
</header>

<div class="wrp-page-content ideas">
  <div class="page-content">

    <div class="leadin">
      {% assign psize = site.posts | size %}
      {% if psize == 0 %}
        <h3>I'm still thinking&hellip;</h3>
      {% endif %}

      {% for post in site.posts %}

        <!-- <div class="work-item">
          <div class="work-image"><img src="{{ site.baseurl }}/assets/images/ideas/{{ post.image }}" alt=""></div>
          <div class="work-detail">
            <h3>{{ post.title }}</h3>
            <a href="{{ post.url }}"></a>
          </div>
        </div> -->

        <div class="work-item popit">
          <img src="{{ site.baseurl }}/assets/images/ideas/{{ post.image }}" alt="" class="work-image">
          <div class="work-detail">
            <h3>{{ post.title }}</h3>
          </div>
          <a href="{{ post.url }}"></a>
        </div>

      {% endfor %}
    </div>

  </div>
</div>
