// about

.aboutintro {

  &__image {

    @include bp(phony) {
      display: block;
      margin: 1em auto;
      width: 50%;
      border-radius: 100%;
    };

    @include bp(tablish) {
      float: left;
      margin: 1em 2em 1em 0;
      width: 25%;
      border-radius: 100%;
      shape-outside: circle();
    };
  }
}

.experience {
  background: $c-purple-tint;
}

.roll {

  @include bp(phony) {
    margin: 1em auto 0;
    width: 85%;

    &__header {
      font-size: large;

      &__title {
        margin: 0;
        font-size: small;
        font-weight: 700;
        color: $c-purple-shade;
      }
    }

    &__summery {
      padding: 0 .25em;
      border-top: .0625em solid $c-purple-shade;

      p {
        margin-top: .25em;
        font-size: small;
      }
    }
  };

  @include bp(tablish) {
    margin: 1em auto 0;
    width: 85%;

    &__header {
      display: flex;
      justify-content: space-between;
      padding: 0 .625em;

      &__title {
        align-self: center;
        margin: 0;
        font-size: small;
        font-weight: 700;
        color: $c-purple-shade;
      }
    }

    &__summery {
      padding: 0 .625em;
      border-top: .0625em solid $c-purple-shade;

      p {
        margin-top: .5em;
        font-size: small;
      }
    }
  };

  @include bp(screeny) {
    margin: 1em auto 0;
    width: 85%;

    &__header {
      display: flex;
      justify-content: space-between;
      padding: 0 .625em;

      &__title {
        align-self: center;
        margin: 0;
        font-size: small;
        font-weight: 700;
        color: $c-purple-shade;
      }
    }

    &__summery {
      padding: 0 .625em;
      border-top: .0625em solid $c-purple-shade;

      p {
        margin-top: .5em;
        font-size: small;
      }
    }
  };
}

.clients {

  @include bp(phony) {
    display: flex;
    justify-content: space-around;;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;

    img {
      margin: 1em;
      width: 75%;
    }
  };

  @include bp(tablish) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;

    img {
      margin: .5em 1em;
      width: 50%;
    }
  };
}

.linkedinjoke {

  @include bp(tablish) {
    margin: 2em auto;
    width: 40%;
    border: 1px solid $c-purple-shade;
    transform: rotate(2deg);
  };
}
