// color varibles

$c-prime: #2C49C9;
$c-purple-tint: #F7F7FA;
$c-purple-shade: #A4A8BF;
$c-brown: #877068;
$c-black: #020202;
$c-slate: #333742;
$color-white: #fff;

$color-utility-success: #259E3F;
$color-utility-caution: #E2C93B;
$color-utility-error: #AD341F;
