// color varibles

$c-primary: #2C49C9;
// $c-secondary: #FF5181;
$c-secondary: #00C8C8;
// $c-secondary: #FF715B;
// $c-medium: #A4A8BF;
$c-medium: #EA526F;
$c-medium-alt: #877068;
$c-medium-alt2: #52646E;
$c-dark: #020202;
$c-dark-alt: #323742;
$c-light-alt: #F1F3FA;
$c-white: #fff;
