// footer

.wrp-site-footer {

    @include bp(phony) {
      padding-bottom: 2em;
    };
    @include bp(tablish) {
      padding-bottom: 4em;
    };
}

.site-footer {
  color: $c-medium;
  text-align: center;

  @include bp(phony) {
    padding-top: 2em;
  };
  @include bp(tablish) {
    padding-top: 4em;
  };
}

.elsewhere {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 2rem;
  width: 20rem;

  div {
    flex-shrink: 0;
  }

  img {
    width: 2.5rem;
    height: 2.5rem;
  }

  a {
    display: block;
    padding: .325rem;
    border-radius: .25rem;
    background: $c-medium;
    @include transition-regular;

    &:hover {
      background: $c-secondary;
      transform: scale(1.1);
    }
  }
}
