// footer

.wrp-site-footer {
  background: $c-black;

    @include bp(phony) {
      margin-top: 2em;
      padding-bottom: 2em;
    };
    @include bp(tablish) {
      margin-top: 3em;
      padding-bottom: 3em;
    };
    @include bp(screeny) {
      margin-top: 4em;
      padding-bottom: 4em;
    };
}

.signoff {
  // background: $c-granet;

  @include bp(tablish) {
    display: flex;
    align-items: stretch;
  };
}

.elsewhere {
  background: $c-purp;

  @include bp(phony) {
    padding: 2em;
  };
  @include bp(tablish) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 3em;
    width: 50%;
  };
  @include bp(screeny) {
    padding: 4em;
  };

  ul {
    display: flex;
    justify-content: center;

    @include bp(tablish) {
      flex-direction: column;
    };
    @include bp(screeny) {
      flex-direction: row;
    };
  }

  li {
    +li {

      @include bp(phony) {
        margin-left: 2em;
      };
      @include bp(tablish) {
        margin-top: 1em;
      };
      @include bp(screeny) {
        margin: 0 0 0 2em;
      };
    }
  }

  @include bp(phony) {
    a {
      min-width: 4em;
    }
  };
  @include bp(tablish) {
    a {
      min-width: 4em;
      width: 80%;
      max-width: 6em;
    }
  };
}

.contact {
  color: $c-white;
  background: $c-granet;

  @include bp(phony) {
    padding: 2em;
  };
  @include bp(tablish) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 3em;
    width: 50%;
  };
  @include bp(screeny) {
    padding: 4em;
  };

  .footer-email {
    display: inline-block;
    padding: .15em .25em 0 .25em;
    color: $c-pink;
    // border: .125em solid $c-pink;
    background: lighten($c-pink, 25%);

    &:hover {
      color: lighten($c-pink, 25%);
      // border: .125em solid $c-pink;
      // border-color: $c-pink;
      background: $c-pink;
    }
  }
}

.site-footer {
  color: $c-slate;
  text-align: center;

  @include bp(phony) {
    padding-top: 2em;
  };
  @include bp(tablish) {
    padding-top: 3em;
  };
  @include bp(screeny) {
    padding-top: 4em;
  };
}
