// header

.wrp-header {
  position: relative;
  width: 100%;
  background: $c-purple-tint;
  transform: skewY(-1.5deg);

  @include bp(tablish) {
    padding: 1em 0;
  };

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    content: " ";
    width: 100%;
    height: 1em;
    background: $c-purple-tint;
    transform: skewY(1.5deg);
  }
}

.site-header {
  transform: skewY(1.5deg);

  @include bp(phony) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 1em;
    padding: 1em 0;
    width: 80%;
  };

  @include bp(tablish) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 70%;
    max-width: 52em;
  };
}

.logo {
  width: 3em;
}

.site-nav {

  ul {
    display: flex;

    @include bp(phony) {
      justify-content: center;
      margin: auto;
    };
  }

  li {

    +li {
      margin: 0 0 0 2em;
    }

    &:before {
      content: "";
      margin: 0;
      padding: 0;
    }
  }

  a {
    display: block;
    padding: .5em 1em;
    text-transform: $text-transform;
    font-weight: 700;

    &:hover {
      color: $c-black;
      border-bottom-color: $c-black;
    }

    &.active {
      color: $c-black;
      border-bottom-color: $c-black;
    }

    @include bp(phony) {
      font-size: large;
    };
  }
}

//  header fun

// .page-header {
//   position: fixed;
//   left:0; top:0; width:100%;
//   box-sizing:border-box;
//
//   transition: top 0.6s;
//
// }
//
// .page-header.off-canvas {
//
//   @include bp(phony) {
//     top: -10em;
//   };
//   // top: -6em;
// }
// .page-header.fixed {
//   top:0;
// 	z-index: 9999;
// }
