.wrp-header {
  background: $c-light-alt;
  box-shadow: 0 .25rem .25rem rgba($c-dark, .25);

  @include bp(phony) {
    height: 3rem;
  }
}

.site-header {
  margin: auto;

  @include bp(tablish) {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: calc(100% * 316 / 350);
  }
}

.logo {
  position: relative;

  a {
    border-radius: 100%;
    box-shadow: 0 .25rem .25rem rgba($c-dark, .15);
  }

  @include bp(phony) {
    position: absolute;
    top: -.5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 6rem;
  }

  @include bp(tablish) {
    width: 7rem;

    a {
      position: absolute;
      bottom: -3rem;
    }
  }
}

.site-nav {

  @include bp(phony) {
    position: fixed;
    bottom: 0;
    z-index: 1000;
    padding-bottom: 3rem;
    width: 100%;
    background: rgba($c-primary, .95);
  }

  @include bp(tablish) {
    margin: 1rem 0 1rem;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    @include bp(phony) {
      display: flex;
      justify-content: space-around;

      li {
        margin: 0;
        padding: 0;
        width: calc(100% * 1 / 3 - 1em);
        text-align: center;
      }
    }

    @include bp(tablish) {
      display: flex;
      justify-content: space-between;

      li {
        margin: 0;
        padding: 0;

        +li {
          margin-left: 3rem;
        }
      }
    }
  }

  a {

    @include bp(phony) {
      font-size: 1em;
      color: $c-white;
    }

    display: block;
    margin-bottom: .5rem;
    padding: 1rem 1rem .5rem 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    color: $c-primary;
    background-image: linear-gradient(90deg, $c-primary, rgba($c-primary, .5));
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% .25rem;
    transition: background-size cubic-bezier(0,.5,0,1) 0.3s;

    @include bp(phony) {
      background-image: linear-gradient(90deg, $c-white, $c-white);
    }

      &:hover, :focus {
        text-decoration: none;
        background-size: 100% .25rem;
      }

    &.active {
      background-image: linear-gradient(90deg, $c-secondary, $c-secondary);
      background-position: 0% 100%;
      background-repeat: no-repeat;
      background-size: 100% .25rem;

      @include bp(phony) {
        background-image: linear-gradient(90deg, $c-secondary, $c-secondary);
      }
    }

  }
}
