// navigation.scss

.home-wrp-header {

  @include bp(phony) {
    padding: 1em;
    background: $c-secondary url(../images/hero-bg-alt.jpg);
    background-size: cover;
  };

  @include bp(tablish) {
    padding: 2em 4em;
    height: 75vh;
    background: $c-secondary url(../images/hero-bg-alt.jpg);
    background-size: cover;
  };

}

.wrp-header {

  @include bp(phony) {
    padding: 1em;
    background: $c-secondary url(../images/hero-bg-alt.jpg);
    background-size: cover;
  };

  @include bp(tablish) {
    padding: 2em 4em;
    background: $c-secondary url(../images/hero-bg-alt.jpg);
    background-size: cover;
  };

}

.home-site-header, .site-header {

  @include bp(phony) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  };

  @include bp(tablish) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  };

}

.logo {

  @include bp(phony) {
    width: 4em;
  };

  @include bp(tablish) {
    width: 6em;
  };

  a {
    display: block;
    @include transition-regular;

    &:hover {
      transform: scale(1.1);
    }
  }

}

.site-nav {

  @include bp(phony) {
    margin: 1rem auto .25rem;
    width: 100%;
  };

  ul {
    display: flex;

    @include bp(phony) {
      width: 100%;
      justify-content: space-between;
    };

    @include bp(tablish ){
      justify-content: flex-end;
    };
  }
  li {
    list-style: none;

    @include bp(phony) {
      width: calc(100% * 1 / 3);
      text-align: center;
      font-weight: bold;
    };

    +li {
      margin: 0 0 0 2em;

      @include bp(phony) {
        margin: 0 0 0 1em;
      };
    }
  }

  a {
    display: block;
    color: $c-light;
    text-decoration: none;
    border-bottom: .225em solid rgba($c-primary, 0);
    @include transition-regular;

    &:hover {
      border-bottom: .225em solid rgba($c-medium, .75);
    }
    &.active {
      border-bottom: .225em solid $c-primary;
    }

    @include bp(tablish) {
      padding: .5em 1em;
      font-size: 1.25em;
    };
  }
}

.hero {

  @include bp(phony) {
    padding: 6rem 0;
  };

  @include bp(tablish) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 89.75%;
  };

  &__copy {
    font-family: $headline-font;
    text-align: center;
    color: $c-light;

    @include bp(phony) {
      font-size: 3.5em;
      line-height: 1;
    };

    @include bp(tablish) {
      margin: auto;
      width: 66.66666667%;
      max-width: 54rem;
      font-size: 6em;
      line-height: 1;
    };

    span {
      position: relative;

      &:after {
        content: " ";
        position: absolute;
        top: 50%;
        left: -.25rem;
        width: 110%;
        height: .5rem;
        background: $c-medium;
        opacity: .85;
        transform: rotate(-2deg);
      }
    }
  }
}
