// normalize.scss

html {
  box-sizing: border-box;
  text-size-adjust:100%;
  text-rendering:optimizeLegibility;
  }
*, *:before, *:after {
  box-sizing: inherit;
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {
  display:block;
 }
audio,canvas,video {
   display:inline-block;
  *display:inline;
  *zoom:1
}
audio:not([controls]) {
  display:none;
  height:0;
}
[hidden] {
  display:none
}
body{
  margin:0;
}
a {
  background-color: transparent;
  &:active {
    outline: 0;
  }
  &:hover {
    outline: 0;
  }
}
abbr[title] {
  border-bottom: 1px dotted;
}
dfn {
  font-style: italic
}
hr {
  margin: 2em 0;
  box-sizing: border-box;
  height:0
}
mark {
  background:#ff0;
  color:#000;
}
code,kbd,pre,samp {
  font-family:monospace,serif;
  _font-family:'courier new',monospace;
  font-size:1em;
}
pre{
  white-space:pre;
  white-space:pre-wrap;
  word-wrap:break-word;
}
q {
  quotes:none
  &:before, &:after {
    content:'';content:none
      }
}
small{
  font-size:80%;
}
sub,sup {
  font-size:75%;
  font-weight: normal;
  line-height:0;
  position:relative;
  vertical-align:baseline;
}
sup {
  top:-0.5em;
}
sub{
  bottom:-0.25em;
}
nav ul,nav ol {
  margin: 0;
  padding: 0;
  list-style:none;
  list-style-image:none;

  li {
    margin: 0;
    padding: 0;

    +li {
      margin: 0;
    }

    &:before {
      content: "";
      margin: 0;
    }
  }
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border:0;
  -ms-interpolation-mode:bicubic;
}
svg {
  max-width: 100%;
	height: auto;
}
svg:not(:root) {
  overflow:hidden;
}
figure, form{margin:0}
fieldset{
  margin:0 .125em;
  padding: .35em .625em .75em;
  border: 1px solid silver;
}
legend {
  *margin-left:-7px;
  padding:0;
  white-space:normal;
  border:0;
}
button,input,select,textarea {
  margin:0;
  font-size:100%;
  vertical-align:baseline;
  *vertical-align:middle;
}
button,input {
  line-height:normal;
}
button,select{
  text-transform:none;
}
button,html input[type="button"],input[type="reset"],input[type="submit"] {
  appearance:button;
  cursor:pointer;
  *overflow:visible;
}
button[disabled],html input[disabled] {
  cursor:default;
}
input[type="checkbox"],input[type="radio"] {
  padding:0;
  *width:13px;
  *height:13px;
}
input[type="search"] {
  appearance:textfield;
  box-sizing: border-box;
}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{
  -webkit-appearance:none;
}
input[type=text], input[type=email], input[type=search], input[type=url], input[type=number], textarea {
	-webkit-appearance: none;
}
button::-moz-focus-inner,input::-moz-focus-inner{
  padding:0;
  border:0;
}
textarea{
  overflow:auto;
  vertical-align:top;
}
table {
  border-collapse:collapse;
  border-spacing:0;
}

a[href^="tel"]{
    color:inherit;
    text-decoration:none;
}
