// template helpers

.wrp-screen {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100%;
}

.wrp-site {
  flex-grow: 1;
  background: $c-light-alt;
}

.wrp-page-content {
  background: $c-light-alt;

  @include bp(phony) {
    padding: 0 0 4rem;
  }
  @include bp(tablish) {
    padding: 0 0 6rem;
  }
}

.wrp-site-footer {
  flex-shrink: 0;
}

.page-content {
  margin: auto;

  @include bp(phony) {
    padding: 0 1rem;
    width: calc(100% - 3rem;)
  }
  @include bp(tablish) {
    padding: 0 4rem;
    max-width: 56rem;
  }
}

.page-title {
  text-align: center;
  background: linear-gradient(40deg, $c-secondary 0%, rgba($c-primary, 0.5) 40%, rgba($c-primary, 0.5) 60%, $c-secondary 100%) no-repeat 50% 50% / 100% 100%;

  @include bp(phony) {
    margin-bottom: 1rem;
    padding-top: 4rem;
  }
  @include bp(tablish) {
    margin-bottom: 2rem;
    padding-top: 5rem;
  }

  h1 {
    top: 0;
    margin: auto;
    text-align: center;
    background: $c-light-alt;

    @include bp(phony) {
      padding-top: 1rem;
      width: calc(100% - 2rem);
      border-top-right-radius: 1rem;
      border-top-left-radius: 1rem;
    }
    @include bp(tablish) {
      padding-top: 2rem;
      width: calc(100% - 2rem);
      max-width: 56rem;
      border-top-right-radius: 2rem;
      border-top-left-radius: 2rem;
    }
    @include bp(screeny) {
      width: 100%;
      max-width: 56rem;
    }
  }

  img {
    min-height: 5vh;
    text-align: center;
    border: .25rem solid $c-light-alt;
    border-bottom: none;
    background: $c-light-alt;

    @include bp(phony) {
      width: calc(100% - 2rem);
      border-top-right-radius: 1rem;
      border-top-left-radius: 1rem;
    }
    @include bp(tablish) {
      width: calc(100% - 2rem);
      max-width: 56rem;
      border-top-right-radius: 2rem;
      border-top-left-radius: 2rem;
    }
    @include bp(screeny) {
      width: 100%;
      max-width: 56rem;
    }
  }
}

.case-study-group {
  margin-top: 3rem;
}

// principles

.blob-1 {
  position: relative;
  margin-top: 6rem;

  @include bp(phony) {
    margin-top: 4rem;
  }

  &:before {
    position: absolute;
    content: "";
    background: url(../images/blob-1.svg) no-repeat;
    background-size: contain;

    @include bp(phony) {
      top: -1rem;
      left: -1rem;
      width: 5rem;
      height: 5rem;
    }
    @include bp(tablish) {
      top: -1.5rem;
      left: -1.5rem;
      width: 7rem;
      height: 7rem;
    }
  }
}

.blob-2 {
  position: relative;
  margin-top: 6rem;

  @include bp(phony) {
    margin-top: 4rem;
  }

  &:before {
    position: absolute;
    content: "";
    background: url(../images/blob-2.svg) no-repeat;
    background-size: contain;

    @include bp(phony) {
      top: -1rem;
      left: -1rem;
      width: 5rem;
      height: 5rem;
    }
    @include bp(tablish) {
      top: -1.5rem;
      left: -1.5rem;
      width: 7rem;
      height: 7rem;
    }
  }
}

.blob-3 {
  position: relative;
  margin-top: 6rem;

  @include bp(phony) {
    margin-top: 4rem;
  }

  &:before {
    position: absolute;
    content: "";
    background: url(../images/blob-3.svg) no-repeat;
    background-size: contain;

    @include bp(phony) {
      top: -1rem;
      left: -1rem;
      width: 5rem;
      height: 5rem;
    }
    @include bp(tablish) {
      top: -1.5rem;
      left: -1.5rem;
      width: 7rem;
      height: 7rem;
    }
  }
}

.blob-4 {
  position: relative;
  margin-top: 6rem;

  @include bp(phony) {
    margin-top: 4rem;
  }

  &:before {
    position: absolute;
    content: "";
    background: url(../images/blob-4.svg) no-repeat;
    background-size: contain;

    @include bp(phony) {
      top: -1rem;
      left: -1rem;
      width: 5rem;
      height: 5rem;
    }
    @include bp(tablish) {
      top: -1.5rem;
      left: -1.5rem;
      width: 7rem;
      height: 7rem;
    }
  }
}

.inline-image {
  margin-top: 2rem;
  text-align: center;

  @include bp(phony) {
    border-radius: 1rem;
  }
  @include bp(tablish) {
    border-radius: 2rem;
  }

  img {

    @include bp(phony) {
      border-radius: 1rem;
    }
    @include bp(tablish) {
      border-radius: 2rem;
    }
  }
}


// Experience

.hold-logos {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: auto;
  flex-wrap: wrap;

  h4 {
    width: 100%;
  }

  .item-logo {
    margin: 1rem 1.5rem;

    @include bp(phony) {
      margin: .75rem 1rem;
    }
  }
}

// iframe styling

iframe {
  @include bp(phony) {
    border-radius: 1rem;
  }
  @include bp(tablish) {
    border-radius: 2rem;
  }
}
