// type.scss

// font varibale
$body-font: 'Hind', sans-serif;
$subheadline-font: 'lora', serif;
$headline-font: 'Montserrat', sans-serif;
$handwriting: 'Gochi Hand', 'Hind', sans-serif;

// sizing

$browser-context: 18; //sets base font size

@function em($pixels, $context: $browser-context) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }
  @if (unitless($context)) {
    $context: $context * 1px;
  }
  @return $pixels / $context * 1em;
}


// specs

html {
  height: 100%;
}

body {
  font-family: $body-font;
  font-size: em(24);
  font-weight: 400;
  line-height: 1.4;
  color: $c-dark;
  width: 100%;
  height: 100%;
  background: rgba($c-primary, .5);

  @include bp(phony) {
    font-size: em(20);
  }
}

.wrp-page-content, .contact {

  a {
    color: $c-secondary;
    text-decoration: none;
    background-image: linear-gradient(90deg, $c-primary, rgba($c-primary, .5));
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% .25rem;
    transition: background-size cubic-bezier(0,.5,0,1) 0.3s;

    &:hover, :focus {
      text-decoration: none;
      background-size: 100% .25rem;
    }
  }
}

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

p {
  margin: 1em 0 0;
  font-weight: 400;
  line-height: 1.6;

  @include bp(phony) {
    padding: 0;
  }
  @include bp(tablish) {
    padding: 0 2rem;
  }
}

h1 {
  margin: 1rem 0 0;
  font-family: $headline-font;
  font-weight: 800;
  line-height: 1.2;
  color: $c-primary;

  @include bp(phony) {
    font-size: em(28);
  }
  @include bp(tablish) {
    font-size: em(32);
  }
  @include bp(screeny) {
    font-size: em(44);;
  }
}

h2 {
  margin: 3rem 0 0;
  font-family: $subheadline-font;
  font-weight: 700;
  line-height: 1.25;
  font-style: italic;
  color: $c-secondary;

  @include bp(phony) {
    font-size: em(28);
  }
  @include bp(tablish) {
    font-size: em(32);
  }
  @include bp(screeny) {
    font-size: em(36);;
  }
}

h3 {
  margin: 2rem 0 0;
  font-size: em(32);
  font-family: $body-font;
  font-weight: 500;
  line-height: 1.25;
  color: darken($c-medium, 10%);

  @include bp(phony) {
    font-size: em(22);
  }
  @include bp(tablish) {
    font-size: em(24);
  }
  @include bp(screeny) {
    font-size: em(32);;
  }
}

h4 {
  margin: 1.5rem 0 0;
  font-family: $body-font;
  font-weight: 500;
  line-height: 1.25;
  color: lighten($c-primary, 20%);

  @include bp(phony) {
    font-size: em(20);
  }
  @include bp(tablish) {
    font-size: em(22);
  }
  @include bp(screeny) {
    font-size: em(24);
  }
}

ul, ol {
  margin: 1em 0 0;
  padding: 0 0 0 2rem;

  li {

    +li {
      margin-top: .5em;
    }
  }
}

blockquote {
  font-size: 1.25rem;
  color: $c-medium-alt;

  p {
    padding-left: 1.5rem;
    font-style: italic;
    border-left: .25rem solid rgba($c-secondary, .5);
  }
}

figcaption {
  margin: .5rem 1.5rem 0 0;
  font-size: em(12);
  font-style: italic;
  text-align: right;
  color: $c-medium-alt2;
}

h1:first-child,h2:first-child,h3:first-child,h4:first-child,h5:first-child,h6:first-child,
p:first-child,ol:first-child,ul:first-child,dl:first-child {
  margin-top: 0;
}

hr {
  margin: 2rem 0;
  border: none;
  height: .25rem;
  background: linear-gradient(40deg, $c-secondary 0%, rgba($c-primary, 0.5) 40%, rgba($c-primary, 0.5) 60%, $c-secondary 100%) no-repeat 50% 50% / 100% 100%;
}

.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
