// type.scss

// font varibale
$body-font: 'Hind', sans-serif;
$subheadline-font: 'lora', serif;
$headline-font: 'Montserrat', sans-serif;

// sizing

$browser-context: 18; //sets base font size

@function em($pixels, $context: $browser-context) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }
  @if (unitless($context)) {
    $context: $context * 1px;
  }
  @return $pixels / $context * 1em;
}


// specs

body {
  font-family: $body-font;
  font-size: em(18);
  font-weight: 400;
  line-height: 1.4;
  color: $c-dark;
  background: $c-dark-alt;
  background: linear-gradient($c-white, $c-dark-alt);
}

.wrp-page-content, .contact {

  a {
    position: relative;
    text-decoration: none;
    color: $c-secondary;
    @include transition-regular;

    &:hover {
      text-decoration: underline;
    }
  }
}

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

p {
  margin: 1em 0 0;
  font-weight: 400;
  line-height: 1.6;
}

h1 {
  margin: 1em 0 0;
  font-size: em(60);
  font-family: $headline-font;
  font-weight: 800;
  line-height: 1.2;
  color: $c-medium;

  // @include bp(phony) {
  //   font-size: em(48.6);
  // };
}

h2 {
  margin: 1.75em 0 0;
  font-size: em(38);
  font-family: $subheadline-font;
  font-weight: 700;
  line-height: 1.25;
  font-style: italic;
  color: $c-secondary;
}

h3 {
  margin: 1.325em 0 0;
  font-size: em(32);
  font-family: $body-font;
  font-weight: 500;
  line-height: 1.25;
  color: $c-medium-alt2;
}

h4 {
  margin: 2.65em 0 0;
  font-size: em(32);
  font-family: $body-font;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.25;
  color: $c-medium-alt;
  text-align: center;
}


h5 {
  margin: 1.325em 0 0;
  font-size: em(24);
  font-family: $body-font;
  font-weight: 500;
  line-height: 1.25;
  color: $c-medium;
}

ul, ol {
  margin: 1em 0 0;
  padding: 0 0 0 2rem;

  li {

    +li {
      margin-top: .5em;
    }
  }
}

blockquote {
  font-size: 1.25rem;
  color: $c-medium-alt;

  p {
    padding-left: 1.5rem;
    font-style: italic;
    border-left: .25rem solid rgba($c-secondary, .5);
  }
}

h1:first-child,h2:first-child,h3:first-child,h4:first-child,h5:first-child,h6:first-child,
p:first-child,ol:first-child,ul:first-child,dl:first-child {
  margin-top: 0;
}

hr {
  margin-top: 4rem;
  border: none;
  border-top: .025em solid lighten($c-medium, 20%);
  // border-bottom: .025em solid lighten($c-medium, 5%);
}
