// work

.work {

  @include bp(phony) {
    margin-top: 1rem;
  }

  @include bp(tablish) {
    margin-top: 2rem;
  }
}

.work-item {
  position: relative;
  border: .25rem solid $c-white;
  border-radius: 1rem;
  background: $c-white;
  box-shadow: 0 .25rem .5rem rgba($c-primary, .15);

  &:hover {
    box-shadow: 0 .25rem .75rem rgba($c-primary, .1);
  }

  @include bp(tablish) {
    display: flex;
    align-items: center;
  }

  a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &:hover, :focus {
      text-decoration: none;
      background: none;
      background-size: 0% 0%;
    }
  }

  +.work-item {
    margin-top: 2rem;
  }
}

.work-image {

  @include bp(phony) {
    border-top-right-radius: .825rem;
    border-top-left-radius: .825rem;
  }

  @include bp(tablish) {
    width: calc(100% * 1 / 3);
    border-top-left-radius: .825rem;
    border-bottom-left-radius: .825rem;
  }
}

.work-detail {

  @include bp(phony) {
    padding: 1rem;
  }

  @include bp(tablish) {
    padding: 0 2rem;
    font-size: 75%;
  }

  h4 {
    margin-top: .25rem;
  }
}
