// greeting

.wrp-greeting {
  background: $c-prime;

  @include bp(phony) {
    margin-top: -2em;
    padding: 3em 0 1em;
  };

  @include bp(tablish) {
    margin-top: -2em;
    padding: 4em 0 2em;
  };
}

.greeting {

  div+div {
    margin-top: 1em;
  }

  &__immichael {
    text-align: right;
  }

  &__mike {
    text-align: left;
  }

  &__whatevs {
    text-align: right;
  }

  @include bp(phony) {
    margin: auto;
    width: 98%;

    img {
      height: 3em;
    }
  };

  @include bp(tablish) {
    margin: auto;
    max-width: 24em;

    img {
      height: 3.625em;
    }
  };
}
