---
layout: base
---

<header class="page-title">
  <h1>{{ page.title }}</h1>
</header>

<div class="wrp-page-content">
  <div class="page-content">

    <article class="post-content">
      <div class="inline-image">
      <img src="{{ site.baseurl }}/assets/images/ideas/{{ page.image }}" alt="">
      </div>

      <h2>{{ page.description }}</h2>

      {{ content }}
    </article>

  </div>
</div>


<!-- <header class="page-title">
  <img src="{{ site.baseurl }}/assets/images/ideas/{{ page.image }}" alt="">
</header>

<div class="wrp-page-content">
  <div class="page-content">

    <article class="post-content">
      <h1>{{ page.title }}</h1>

      <p>{{ page.description }}</p>

      {{ content }}
    </article>

  </div>
</div> -->
