---
layout: base
---

<div class="samplehero" style="background-color: #{{ page.color }}">
  <!-- <div class="samplehero__title" style="background: url({{ site.baseurl }}/assets/images/ideas/{{ page.image }}); background-repeat: no-repeat; background-position: 50%; background-size: 100%;"> -->
  <div class="samplehero__title">
    <img src="{{ site.baseurl }}/assets/images/samples/{{ page.image }}" alt="">
  </div>
</div>

<div class="wrp-page-content">
  <div class="page-content wrp-post">

    <h1>{{ page.title }}</h1>

    <article class="post-content">
      {{ content }}
    </article>

    <hr>
    <h3 class="text-center"><a href="{{ site.baseurl }}/case-studies/">More case studies</a></h3>

  </div>
</div>
